
@model List<WebsiteNoiThat.Models.OrderViewModel>
@{
    ViewBag.Title = "Show";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách đơn đặt hàng</h2>
<br />

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="example" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Mã hóa đơn</th>
                        <th>Tên KH</th>
                        @*<th>(%)Khuyến mãi</th>*@
                        <th>Địa chỉ</th>
                        <th>SĐT</th>
                        <th>Thành tiền</th>
                        <th>Trạng thái</th>
                        <th>Ngày cập nhật</th>
                        <th>In hóa đơn</th>
                        <th>Hành động</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="Search" id="row_@item.OrderId">
                            <td> @item.OrderId</td>
                            <td>@item.ShipName</td>
                            @*<td>@item.Discount</td>*@
                            <td>@item.ShipAddress</td>
                            <td>@item.ShipPhone</td>
                            <td>@(((item.Quantity * item.Price) - (item.Quantity * item.Price * item.Discount * 0.01)).GetValueOrDefault(0).ToString("N0"))</td>
                            <td>@item.StatusName</td>
                            <td>@item.UpdateDate</td>
                            <td>@Html.ActionLink("In hóa đơn", "PrintSalarySlip", new { id = item.UserId })</td>
                            <td width="200px;">
                                <p><input type="button" class="btn btn-sm btn-primary" value="Xem" onclick="location.href='/Admin/Orders/Details/@item.OrderId'" />
                                <input type="button" class="btn btn-sm btn-warning" value="Cập nhật" onclick="location.href='/Admin/Orders/Edit/@item.OrderId'" />
                                <input type="button" class="btn btn-sm btn-danger" value="Xóa" onclick="location.href='/Admin/Orders/Delete/@item.OrderId'" /></p>
                                @*<select name="StatusId">
                                @foreach (var v in ViewBag.Status)
                                {
                                    <option value="@v.StatusId" @(v.StatusId == item.StatusId ? "selected" : "")>@v.Name</option>
                                }
                                </select>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@*<div class="modal fade" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Cập nhật trang thái đơn hàng</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">


            </div>


        </div>

    </div>

</div>

<input type="hidden" id="hiddenEmployeeId" />*@

<script src="~/Content/DataTable/js/jquery.dataTables.min.js"></script>
<script src="~/Content/DataTable/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$('#example').DataTable();
</script>

@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    var AddEditEmployee = function (OrderDetailId) {
        var url = "/Order/AddEditOrder?OrderDetailId=" + OrderDetailId;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })
    }

</script>*@




