@model IEnumerable<Models.EF.Category>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Danh sách loại sản phẩm</h2>
    <p>
        <a href="@Url.Action("Add", "ProductCate")" class="btn btn-primary" style="margin-top:10px;margin-bottom:10px;">Thêm loại sản phẩm</a>
    </p>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Mã loại sản phẩm</th>
                    <th>Tên loại sản phẩm</th>
                    <th>Diễn giải</th>
                    <th>Mã loại SP</th>
                    <th>Hành động</th>
                 
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr class="Search">
                        <td> @item.CategoryId</td>
                        <td> @item.Name</td>
                        <td>@item.MetaTitle</td>
                        <td>@item.ParId</td>
                        <td>
                            <input type="button" class="btn btn-sm btn-primary" value="Sửa" onclick="location.href='/Admin/ProductCate/Edit?CategoryId=@item.CategoryId'" /> |
                            <input type="button" class="btn btn-sm btn-danger" value="Xóa" onclick="location.href='/Admin/ProductCate/Delete?CategoryId=@item.CategoryId'" />
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Content/DataTable/js/jquery.dataTables.min.js"></script>
<script src="~/Content/DataTable/js/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">
    $('#example').DataTable();
</script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


