@model IEnumerable<Models.EF.Credential>
@*@using Models.EF*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách quyền</h2>

<p>
    <input type="button" class="btn btn-success" value="Thêm quyền" onclick="location.href='@Url.Action("Create", "Credentials")'" />
</p>

@*@{
    var groups = (List<UserGroup>)ViewBag.groups;
    var rolesofgroup = (List<Credential>)ViewBag.rolesofgroup;
}*@

@*@for (var i=0;i<groups.Count; i++)
{
    
    @Html.ActionLink(groups[i].Name, "Details",new { groupid=groups[i].GroupId }, new { @class = "btn btn-primary" });
}*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserGroupId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserGroupId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                <input type="button" class="btn btn-sm btn-primary" value="Sửa" onclick="location.href='@Url.Action("Edit", "Credentials", new { id=item.CredenId })'" /> |
                <input type="button" class="btn btn-sm btn-danger" value="Xóa" onclick="location.href='@Url.Action("Delete", "Credentials", new { id=item.CredenId })'" />
            </td>
        </tr>
    }

</table>
